.movies__button {
	width: 25%;
	margin: 80px auto;
	padding: 11px 0 9px;
    display: block;
	background-color: transparent;
	border: solid 1px #424242;
    border-radius: 6px;
	color: #ffffff;
	font-size: 12px;
	font-weight: 500;
	line-height: 15px;
	letter-spacing: 0px;
	text-align: center;
	cursor: pointer;
}

@media (hover: hover) {
    .movies__button:hover {
        opacity: .8;
        transition: opacity .2s ease-out;
    }
}

@media screen and (max-width: 769px) {
	.movies__button {
		width: 320px;
	}
  }

@media screen and (max-width: 426px) {
	.movies__button {
		width: 240px;
	}
  }