.movies-list {
  margin: 110px 0 30px;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  justify-content: center;
  gap: 32px 20px;
  list-style: none;
}

@media screen and (max-width: 1160px) {
  .movies-list {
    gap: 36px 30px;
  }
}

@media screen and (max-width: 910px) {
  .movies-list {
    column-gap: 42px;
  }
}

@media screen and (max-width: 769px) {
  .movies-list {
    margin: 130px 0 30px;
    grid-template-columns: repeat(auto-fit, 339px);
    column-gap: 36px;
  }
}

@media screen and (max-width: 426px) {
  .movies-list {
    margin: 80px 0 33px;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 20px 10px;
  }
}
