.techs {
    min-height: 608px;
    margin: 0;
    padding: 0 70px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #272727;
}

.techs__head {
    margin: 95px 0 0 0;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #DADADA;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.04em;
}

.techs__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.techs__title {
    margin: 90px 0 0 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-align: center;
}

.techs__text {
    max-height: 460px;
    margin: 26px 0 0 0;
    padding: 0;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.04em;
    text-align: center;
}

.techs__tools {
    margin: 100px 0 100px 0;
    padding: 0;
    display: flex;
    gap: 0 10px;
    list-style: none;
}

.techs__tool {
    min-height: 60px;
    min-width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #303030;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.04em;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .techs  {
        min-height: 567px;
        padding: 0 50px 0;
    }

    .techs__head {
        margin-top: 90px;
        padding-bottom: 23px;
    }
    
    .techs__title {
        margin-top: 80px;
    }
    
    .techs__text {
        margin-top: 22px;
        padding: 0;
        font-size: 12px;
        line-height: 18px;
    }
    
    .techs__tools {
        margin: 83px 0 90px 0;
    }
    
    .techs__tool {
        min-height: 57px;
        min-width: 84px;
        font-size: 12px;
        line-height: 15px;
    }
  }

  @media screen and (max-width: 677px) {
    .techs__tools {
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }
  }

  @media screen and (max-width: 426px) {
    .techs {
        max-height: 651px;
        padding: 0 14px 0;
    }
    
    .techs__head {
        margin: 70px 0 0 0;
        padding-bottom: 28px;
        font-size: 18px;
        line-height: 22px;
    }
    
    .techs__title {
        margin-top: 60px;
        font-size: 30px;
        line-height: 36px;
    }
    
    .techs__text {
        margin-top: 24px;
        font-size: 11px;
        line-height: 16px;
    }
    
    .techs__tools {
        margin: 50px 57px 70px 57px;
        justify-content: flex-start;
    }
    
    .techs__tool {
        min-height: 57px;
        min-width: 84px;
        font-size: 12px;
        line-height: 15px;
    }
  }

