.burger-button {
	margin: 0;
	padding: 0;
	display: none;
	background-color: transparent;
	border: 0;
    background-image: url('../../../../images/burger-close.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    cursor: pointer;
}

@media (hover: hover) {
    .burger-button:hover {
        opacity: .8;
        transition: opacity .2s ease-out;
    }
}


@media screen and (max-width: 1024px) {
	.burger-button {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
	}
}