.header {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 70px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #073042;
}

.header_dark {
    background-color: #202020;
}

.header__link {
    margin: 18px 0 18px 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header__logo {
    max-width: 38px;
    max-height: 38px;
}

/* @media screen and (max-width: 1100px) {
    .header  {
        max-width: calc(100% - 100px*2);
    }
  } 

@media screen and (max-width: 780px) {
    .header  {
        max-width: calc(100% - 50px*2);
    }
  } 

  @media screen and (max-width: 426px) {
    .header  {
        max-width: 100%;
    }
  }  */

  /* @media screen and (max-width: 426px) {
    .header__link {
        margin: 28px 0 27px 27px;
    }
  }  */

  /* @media (hover: hover) {
    .header__logo:hover {
        opacity: 0;
        transition: opacity 1s ease-in;
    }
  }

@media screen and (max-width: 426px) {
    .header__logo {
        max-width: 103.74px;
        max-height: 24.4px;
    }
  }  */