.movies-card__radio {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  transition: all 0.2s ease-out;
  background-image: url('../../../../images/movies-saveoff.svg');
}

.movies-card__radio_active {
  background-image: url('../../../../images/movies-saveon.svg');
}
