.movies-card__radio-input_type_default {
	width: 0;
	height: 0;
	position: absolute;
	opacity: 0;
}

.movies-card__radio-input_type_design {
	width: 16px;
	height: 16px;
	position: relative;
	display: inline-block;
    cursor: pointer;
}

.movies-card__radio-input_type_design::before {
    padding: 5px 0 0 0;
	width: 17px;
	height: 17px;
	position: absolute;
	content: '';
	background-image: url('../../../../images/movies-saveoff.svg');
	background-position: center;
    background-repeat: no-repeat;
	transition: all .2s ease-out;
}


.movies-card__radio-input_type_default:checked + .movies-card__radio-input_type_design::before {
	background-image: url('../../../../images/movies-saveon.svg');
}