.register {
  display: flex;
  flex-direction: column;
}

.register__logo-link {
  margin: 70px 0 0 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.register__logo {
  width: 38px;
  height: 38px;
  object-fit: cover;
  object-position: center;
}

.register__container {
  width: 396px;
  min-height: 560px;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.register__title {
  margin: 40px 0;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
}

.register__form {
  display: flex;
  flex-direction: column;
}

.register__input-title {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  color: #8b8b8b;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
}

.register__input {
  min-height: 45px;
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  color: #ffffff;
  background-color: #2f2f2f;
}

.register__error {
  display: block;
  max-width: 396px;
  min-height: 12px;
  margin: 10px 0 0 0;
  padding: 0;
  color: #ee3465;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
}

.register__button {
  min-width: 396px;
  min-height: 45px;
  box-sizing: border-box;
  margin: 64px 0 16px;
  background-color: #4285f4;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  align-self: center;
  cursor: pointer;
}

.register__button:disabled  {
  background-color: #F8F8F8;
  color: #C2C2C2;
}

.register__message {
  max-width: 320px;
  min-height: 14px;
  margin: 0 auto 20px;
  padding: 0;
  color: #ee3465;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
}

.register__caption {
  margin: 0;
  padding: 0;
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}

.register__button-login {
  box-sizing: border-box;
  margin: 0;
  color: #4285f4;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

@media (hover: hover) {
  .register__button-login:hover {
    opacity: 0.7;
    transition: opacity 0.2s ease-in;
  }
}

@media (hover: hover) {
  .register__button:hover {
    opacity: 0.8;
    transition: opacity 0.2s ease-in;
  }
}

@media screen and (max-width: 769px) {
  .register {
    margin-bottom: 232px;
  }

  .register__logo-link {
    margin-top: 232px;
  }
}

@media screen and (max-width: 426px) {
  .register {
    margin-bottom: 30px;
  }

  .register__logo-link {
    margin-top: 56px;
  }

  .register__container {
    width: 310px;
    align-items: center;
  }

  .register__title {
    margin: 50px 0 80px 0;
  }

  .register__button {
    min-width: 260px;
    margin: 150px 0 14px;
    font-size: 12px;
    line-height: 14px;
  }

  .register__caption {
    font-size: 12px;
    line-height: 14px;
  }

  .register__button-login {
    font-size: 12px;
    line-height: 14px;
  }
}

