.promo {
  min-height: 574px;
  padding: 0 70px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #073042;
}

.promo__title {
  max-width: 640px;
  margin: 75px 0 0 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  line-height: 58px;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -0.04em;
  align-self: flex-end;
}

.promo__box {
  display: flex;
  flex-direction: column;
}

.promo__subtitle {
  max-width: 310px;
  margin: 36px 0 0 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.3;
  opacity: 50%;
}

.promo__button {
  width: 129px;
  min-height: 36px;
  margin: 146px 0 75px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  color: #ffffff;
  background-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.promo__pic {
  margin: 75px 0 0 0;
  padding: 0;
  width: 310px;
  height: 304px;
  justify-self: end;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

@media (hover: hover) {
  .promo__button:hover {
    opacity: 0.8;
    transition: opacity 0.2s ease-out;
  }
}

@media screen and (max-width: 1024px) {
  .promo {
    min-height: 850px;
    padding: 0 44px 0;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .promo__pic {
    margin-top: 140px;
    justify-self: center;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .promo__title {
    max-width: 680px;
    margin-top: 48px;
    line-height: 50px;
    font-size: 40px;
    font-weight: 400;
    align-self: center;
    text-align: center;
  }

  .promo__subtitle {
    max-width: 260px;
    margin: 22px 0 0 0;
    text-align: center;
  }

  .promo__box {
    align-items: center;
  }

  .promo__button {
    margin: 92px 0 76px 0;
  }
}

@media screen and (max-width: 426px) {
    .promo {
        min-height: 636px;
        padding: 0 10px 0;
      }
      
      .promo__title {
        margin-top: 44px;
        line-height: 38px;
        font-size: 30px;
      }
      
      .promo__subtitle {
        max-width: 260px;
        margin-top: 24px;
      }
      
      .promo__button {
        margin: 80px 0 30px 0;
      }
      
      .promo__pic {
        margin-top: 70px;
        width: 210px;
        height: 206px;
      }
}
